# Any private crt and keys #
############################
*.crt
*.key
*~
\#*

# OS Specific
Thumbs.db
.DS_Store
.vscode

# Ansible specific
*.retry

# Ignore Terraform conf/state/backup files
.terraform
*.tfstate
*.backup
